@model IEnumerable<DataAccessLayer.Carpeta>

@{
    ViewBag.Title = "Carpetas";
}

<h2>Mis Carpetas</h2>

<p>
    @Html.ActionLink("Agregar Carpeta", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Descripción
        </th>
        <th>
            Fecha de Creación
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/Carpetas/Tareas/@item.IdCarpeta">@Html.DisplayFor(modelItem => item.Nombre)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @item.FechaCreacion.ToShortDateString()
            </td>
        </tr>
    }

</table>

