@model IEnumerable<DataAccessLayer.Carpeta>


<ul class="list-group">
    <li class="list-group-item text-center">
        <a class="btn btn-primary" href="/Carpetas/Crear">Nueva carpeta</a>
    </li>
        @foreach (var item in Model)
    {
    <li class="list-group-item text-center">
        <a href="/Carpetas/Tareas/@item.IdCarpeta">@Html.DisplayFor(modelItem => item.Nombre)</a>
    </li>
    }
</ul>