@model DataAccessLayer.Usuario

@{
    ViewBag.Title = "Home";
}

<h2>Tareas incompletas</h2>

<p>
    <a class="btn btn-success" href="/Tareas/Crear">Nueva tarea</a>
</p>

@Html.Action("TareasIncompletas", "Tareas")
