@model IEnumerable<DataAccessLayer.ComentarioTarea>



    @foreach (var item in Model)
    {
    <h6>@item.FechaCreacion.ToShortDateString()</h6>
    <h3>@(string.IsNullOrWhiteSpace(item.Texto) ? "-" : item.Texto)</h3>
    <hr>
    }

